.main {
  display: flex;
  flex-direction: row;
}
.left-pane {
  background-color: #0075801e;
  padding: 30px;
}
.right-pane {
  background-color: #007580c5;
  padding: 30px;
}
.middle-pane {
  background-color: #00758056;
  padding: 30px;
}
