.flex-container{
    display: flex;
    background: cornflowerblue;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
    line-height: 50px;
}

.flex-items{
    font-size: x-large;
}