.heading{
    color: cornsilk;
    background-color: darkgreen;
}
.dc{
    border: 1px solid red;
    margin: 30px;
}

.MuiInput-underline:before{
    border: none !important;
}
.MuiInput-underline:after{
    border: none !important;
}
#date-picker-inline{
    border: 1px solid green !important;
}
#date-picker-inline-label{
    position: relative !important;
    margin-bottom: 10px !important;
}

