/* .textarea{
    outline: none;
    resize: none;
    border: 1px solid gray;
    font-size: xx-large;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
} */
/* .textarea:focus{
    outline: none;
    border: 1px solid blue;
} */
